.dav{
    background-color: #1A2C56;
}

.dev{

    background-color:#D1A683;
    color: white;
}



    button[id="dov"], [id="duv"],[id="dii"], [id="jav"]{

        background-color:#D1A683;
        color: white;
    }

    
